<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".the" %>
  <%= link_to t(".tutorial"), Settings.links.rails_tutorial.home_page %>
  , <%= t ".part" %>
  <%= link_to t(".learn"), Settings.links.learn_enough %>
  <%= t ".family" %>
  <%= link_to t(".book"), Settings.links.rails_tutorial.book_page %>
  <%= t ".and" %>
  <%= link_to t(".scr"), Settings.links.rails_tutorial.screencasts_page %>
  <%= t ".to" %>
  <%= link_to t(".ror"), Settings.links.rails_tutorial.home_page %>.
  <%= t ".this" %>
</p>
