<% provide :title, t(".title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".page"), Settings.links.rails_tutorial.help_page %>.
  <%= t ".see" %>
  <%= link_to t(".book"), Settings.links.rails_tutorial.book_page %>.
</p>
